@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");
:root {
  --charcoal: #36454f;
  --bone: #f4e6d2;
  --white: #fff;
  --dark: #011f4b;
  --navy: #03396c;
  --royal: #005b96;
  --turq: #6497b1;
  --light: #b3cde0;
  --gray: #d2d2cf;
}

body {
  background: url("../weather-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 20px 70px;
  color: var(--white);
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-container {
  text-align: end;
}

.search-form {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--white);
}

.search-container {
  font-size: 30px;
  font-weight: 100;
}

.search-container {
  font-size: 12px;
  font-weight: 700;
}

.current-info .others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid var(--white);
}

.current-info .others .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {
  background: rgba(24, 24, 27, 0.8);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: var(--white);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 15px;
}

.future-forecast .today .day {
  padding: 5px 15px;
  background: var(--gray);
  color: var(--charcoal);
  border-radius: 50px;
  text-align: center;
}

.future-forecast .today .temp {
  font-size: 20px;
  padding-top: 15px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: var(--gray);
  color: var(--charcoal);
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}

@media screen and (max-width: 730px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .container {
    padding: 20px;
  }

  .future-forecast .today .temp {
    font-size: 23px;
  }

  .date-container .time {
    font-size: 50px;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .search-container {
    text-align: end;
    margin-top: 15px;
  }

  .search-container .time-zone {
    font-size: 20px;
  }

  .current-info .others {
    padding: 12px;
  }

  .current-info .others .weather-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
